@font-face {
  font-family: graphik-medium;
  src: url(./assets/fonts/Graphik-Medium.ttf);
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/inter.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  padding-top: 20px;
  font-family: inter;
  letter-spacing: 1px;
}
h2 {
  font-size: 45px;
  font-family: inter;
  font-weight: 300;
}

h3 {
  font-size: 61px;
  font-family: inter;
}

h4 {
  font-size: 27px;
  font-family: inter;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
  font-family: inter;
}

header nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}

.nav-links {
  padding-top: 30px;
  display: flex;
  gap: 23px;
}
.nav-button {
  margin-top: 18px;
  font-size: 18px;
  padding: 18px 60px;
  border: 1px solid black;
  border-radius: 10px;
}

.wesh {
  background-image: url(./assets/img/home_hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  min-height: 730px;
}

.wesh h2 {
  text-align: center;
}

.wrapper {
  padding: 230px 1%;
  max-width: 1480px;
  margin: auto auto;
}

.review {
  display: flex;
  justify-content: space-between;
}

.review p:nth-child(1) {
  font-family: inter;
  font-size: 27px;
  max-width: 600px;
}

.price {
  text-align: center;
}

.price p {
  font-family: inter;
  font-size: 25px;
  font-weight: 200;
  color: #787b80;
  margin-top: 11px;
}

.deliverables {
  background-image: url(./assets/img/home_deliverables.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 55%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 150px;
}

.deliverables article {
  width: 50%;
}

.deliverables article h3 {
  margin-bottom: 60px;
  padding: 0 5%;
}
.deliverables article h4 {
  margin-bottom: 20px;
  padding: 0 5%;
}

.deliverables article p {
  font-size: 27px;
  font-family: inter;
  margin-bottom: 50px;
  min-width: 500px;
  padding: 0 5%;
  font-weight: 200;
  color: #9c9c9c;
}

.grey {
  background-color: #84868923;
  padding: 0 0;
}

.howworks {
  background-image: url(./assets/img/home_how_it_works.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 55%;
}

.howworks div {
  width: 50%;
}

.howworks div h3 {
  padding: 75px 0 25px 55px;
}

.howworks div p {
  font-size: 27px;
  font-family: inter;
  font-weight: 300;

  padding: 0 0 75px 120px;
  color: #9c9c9c;
}

.critique h3,
.critique p {
  text-align: center;
}

.critique h3 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.critique p {
  font-size: 27px;
  font-family: inter;
  color: #9c9c9c;
  line-height: 60px;
}

.percent img {
  width: 105%;
  margin-top: 160px;
}

.wesh2 {
  margin: 0 25%;

  position: relative;
}

.wesh2 p {
  font-size: 27px;
  font-family: inter;
  line-height: 60px;
  color: #a6acb5;
}

.wesh2 img {
  position: absolute;
  width: 80%;

  right: -20%;
  top: -60%;
}

footer {
  margin-top: 400px;
  border-top: 2px solid rgba(0, 0, 0, 0.247);
  margin: 7.5% 20% 0 20%;
}

footer h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div p {
  margin-top: 170px;
  font-size: 30px;
  font-family: inter;
}
